Live Code 1 <br>
Nama : Risqi Wahyu Permana <br>
Batch : HCK 6

## Objective

Tim produksi dari perusahaan perusahaan manufaktur baterai Lithium ion meminta pada salah satu orang dari data scientist untuk melakukan pengecekan kualitas pada baterai yang telah di produksi. Tahap pertama sebelum melakukan pengecekan lebih lanjut adalah dengan melakukan perhitungan hambatan/resistansi dan daya setiap detik

## 1. Buatlah dua fungsi eksplisit masing-masing memuat perhitungan hambatan (R) dan daya (P) yang nantinya akan digunakan untuk perhitungan

### Import Library

In [1]:
import pandas as pd

### Data Loading

In [2]:
#import dataset from https://github.com/fahmimnalfrzki/Dataset/blob/main/NMC1-9.xlsx?raw=true
batt = pd.read_excel('https://github.com/fahmimnalfrzki/Dataset/blob/main/NMC1-9.xlsx?raw=true')

In [3]:
batt.head()

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

### Answer

In [4]:
#membuat fungsi rumus hambatan
def hambatan(v, i):
    r = v/i
    return r

#membuat fungsi rumus daya
def daya(v, i):
    p = v*i
    return p

## 2. Buat kolom baru dengan nama kolom R/P berisikan hasil perhitungan daya/hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya, Kapasitas <2.5 hitung nilai hambatan.

### Answer

In [5]:
list_hasil = []
for i in range(len(batt)):
    if batt['Cap'][i] >= 2.5: #jika kapasitas baterai >= 2.5 maka akan menghitung daya
        hasil = daya(batt['V_m'][i], batt['Current (A)'][i])
        list_hasil.append(hasil)
    else: #jika kapasitas baterai < 2.5 maka akan menghitung hambatan
        hasil = hambatan(batt['V_m'][i], batt['Current (A)'][i])
        list_hasil.append(hasil)

batt['R/P'] = list_hasil

### Result

In [7]:
# soal nomor 1, menghitung hambatan atau daya
batt.sample(10)

       time(s)    V_m  Current (A)  Cycle       Cap       R/P
54619    54619  3.759        0.997      6  2.790726  3.747723
29238    29238  3.253        0.997      3  2.823520  3.243241
30942    30942  4.039        0.996      4  2.820395  4.022844
40457    40457  2.881        1.000      4  2.820395  2.881000
63964    63964  3.820        0.997      7  2.786860  3.808540
33277    33277  3.857        0.997      4  2.820395  3.845429
44916    44916  3.725        0.997      5  2.804878  3.713825
3194      3194  3.801        0.999      1  2.840817  3.797199
22200    22200  3.951        1.001      3  2.823520  3.954951
45388    45388  3.681        0.998      5  2.804878  3.673638

## 3. Hitunglah rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil.

### Answer

In [6]:
#menghitung rata-rata kapasitas baterai
batt2 = batt[(batt['Current (A)'] == 1) & (batt['Cycle'] % 2 == 1)]
rata_rata = batt2['Cap'].mean()
batt2.sample(10)

       time(s)    V_m  Current (A)  Cycle       Cap    R/P
86014    86014  3.639          1.0      9  2.770180  3.639
30437    30437  2.764          1.0      3  2.823520  2.764
29349    29349  3.224          1.0      3  2.823520  3.224
47306    47306  3.517          1.0      5  2.804878  3.517
86959    86959  3.555          1.0      9  2.770180  3.555
1572      1572  3.962          1.0      1  2.840817  3.962
50102    50102  3.082          1.0      5  2.804878  3.082
48564    48564  3.405          1.0      5  2.804878  3.405
26372    26372  3.560          1.0      3  2.823520  3.560
41921    41921  3.991          1.0      5  2.804878  3.991

### Result

In [8]:
# soal nomor 2, menghitung rata-rata kapasitas baterai
print('Rata-rata kapasitas baterai adalah', rata_rata)

Rata-rata kapasitas baterai adalah 2.8064845553925855